/*---------------------------------------------------------------- 
// 文件功能描述：通用样式、标签初始化
// author：Inthur
// 时间：2018/08/01
// 修改标识： 
// 修改描述：
//----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background-size: 100% 100%;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;/*禁用手机浏览器的用户选择功能 */
    -webkit-tap-highlight-color: transparent;  /*手机端点击时出现的阴影*/
}
.clearfix:after{
    content:"\20";
    display:block;
    clear:both;
}
.clearfix{
    *zoom:1;
}
a{
    text-decoration: none;
}
button{
	border:0;
	background-color:none;
	outline: none;
}
li {
    list-style: none;
}
img {
    border: 0;
    vertical-align: bottom; /*图片间隙问题*/
}
em,
i {
    font-style: normal;
}
input,
textarea {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: '微软雅黑', 'Microsoft Yahei', 'Hiragino Sans GB', '宋体', Helvetica, STHeiti, Arial, sans-serif;  
}

.left{
	float: left;
}
.right{
	float: right;
}